---
import Layout from "../layouts/Layout.astro";

import VideoBg from "../components/video-bg.astro";

import "../styles/global.css";

import menuVideo from "../assets/video/stats.mp4";
import menuMobileVideo from "../assets/video/stats-mobile.mp4";
import AboutMeItem from "../components/about-me-item.astro";

import { section } from "../constants/about-me";
---

<Layout>
    <VideoBg
        src={menuVideo}
        mobileSrc={menuMobileVideo}
        loopStart={0}
        loopEnd={20}
        overlay={true}
        class="object-left sm:object-center"
    />

    <main>
        <h1 class="sr-only">Sobre mí</h1>
        <ul>
            {section.map((sec) => <AboutMeItem skill={sec} />)}
        </ul>
    </main>
</Layout>
