---
import Layout from "../layouts/Layout.astro";

import VideoBg from "../components/video-bg.astro";

import "../styles/global.css";
import menuVideo from "../assets/video/menu.mp4";
import menuMobileVideo from "../assets/video/menu-mobile.mp4";
---

<Layout>
    <VideoBg
        src={menuVideo}
        mobileSrc={menuMobileVideo}
        loopStart={9}
        loopEnd={16}
        overlay={true}
    />
    <main class="container mx-auto">
        <nav
            class="flex flex-col font-anton items-center text-5xl uppercase translate-y-52"
        >
            <ul>
                <li class="group relative w-fit -skew-12">
                    <a
                        href="/about-me"
                        class="relative z-20 block px-3 py-1 text-white
                        group-hover:text-black group-hover:scale-150 group-hover:translate-x-14
                        ease-in-out transition-transform"
                    >
                        Sobre mi
                    </a>
                    <span
                        class="absolute inset-0 z-10 origin-left scale-x-0 bg-white rotate-3
                        transition-transform duration-300 ease-out group-hover:scale-x-175"
                        style="clip-path: polygon(95% 2%, 90% 90%, 10% 60%);"
                    ></span>
                    <span
                        class="absolute inset-0 z-0 origin-left scale-x-0 bg-red-500/60 rotate-3
                        transition-transform duration-300 ease-out group-hover:scale-x-175"
                        style="clip-path: polygon(100% 0, 95% 95%, 0 60%);"
                    ></span>
                </li>

                <li class="group relative w-fit -skew-12 -rotate-10">
                    <a
                        href="/projects"
                        class="relative z-20 block px-3 py-1 text-white
                        group-hover:text-black group-hover:scale-150 group-hover:translate-x-14
                        ease-in-out transition-transform"
                    >
                        Proyectos
                    </a>
                    <span
                        class="absolute inset-0 z-10 origin-left scale-x-0 bg-white rotate-3
                        transition-transform duration-300 ease-out group-hover:scale-x-175"
                        style="clip-path: polygon(95% 2%, 90% 90%, 10% 60%);"
                    ></span>
                    <span
                        class="absolute inset-0 z-0 origin-left scale-x-0 bg-red-500/50 rotate-3
                        transition-transform duration-300 ease-out group-hover:scale-x-175"
                        style="clip-path: polygon(100% 0, 95% 95%, 0 60%);"
                    ></span>
                </li>
                <li
                    class="group relative w-fit -skew-12 -rotate-3 -translate-y-1"
                >
                    <a
                        href="/experience"
                        class="relative z-20 block px-3 py-1 text-white
                        group-hover:text-black group-hover:scale-150 group-hover:translate-x-14
                        ease-in-out transition-transform"
                    >
                        Experiencia
                    </a>
                    <span
                        class="absolute inset-0 z-10 origin-left scale-x-0 bg-white rotate-3
                        transition-transform duration-300 ease-out group-hover:scale-x-175"
                        style="clip-path: polygon(95% 2%, 90% 90%, 10% 60%);"
                    ></span>
                    <span
                        class="absolute inset-0 z-0 origin-left scale-x-0 bg-red-500/50 rotate-3
                        transition-transform duration-300 ease-out group-hover:scale-x-175"
                        style="clip-path: polygon(100% 0, 95% 95%, 0 60%);"
                    ></span>
                </li>
                <li
                    class="group relative w-fit -skew-12 rotate-5 -translate-y-1"
                >
                    <a
                        href="/education"
                        class="relative z-20 block px-3 py-1 text-white
                        group-hover:text-black group-hover:scale-150 group-hover:translate-x-14
                        ease-in-out transition-transform"
                    >
                        Educación
                    </a>
                    <span
                        class="absolute inset-0 z-10 origin-left scale-x-0 bg-white rotate-3
                        transition-transform duration-300 ease-out group-hover:scale-x-175"
                        style="clip-path: polygon(95% 2%, 90% 90%, 10% 60%);"
                    ></span>
                    <span
                        class="absolute inset-0 z-0 origin-left scale-x-0 bg-red-500/50 rotate-3
                        transition-transform duration-300 ease-out group-hover:scale-x-175"
                        style="clip-path: polygon(100% 0, 95% 95%, 0 60%);"
                    ></span>
                </li>
                <li
                    class="group relative w-fit -skew-12 -rotate-5 -translate-y-2"
                >
                    <a
                        href="/contact"
                        class="relative z-20 block px-3 py-1 text-white
                        group-hover:text-black group-hover:scale-150 group-hover:translate-x-14
                        ease-in-out transition-transform"
                    >
                        Contacto
                    </a>
                    <span
                        class="absolute inset-0 z-10 origin-left scale-x-0 bg-white rotate-3
                        transition-transform duration-300 ease-out group-hover:scale-x-175"
                        style="clip-path: polygon(95% 2%, 90% 90%, 10% 60%);"
                    ></span>
                    <span
                        class="absolute inset-0 z-0 origin-left scale-x-0 bg-red-500/50 rotate-3
                        transition-transform duration-300 ease-out group-hover:scale-x-175"
                        style="clip-path: polygon(100% 0, 95% 95%, 0 60%);"
                    ></span>
                </li>
            </ul>
        </nav>
    </main>
</Layout>
