---
import Layout from "../layouts/Layout.astro";

import "../styles/global.css";
---

<Layout>
    <nav>
        <a href="/about-me">Sobre mi</a>
        <a href="/projects">Proyectos</a>
        <a href="/experience">Experiencia</a>
        <a href="/education">Educación</a>
        <a href="/contact">Contacto</a>
    </nav>
</Layout>
