---
const { class: className = "" } = Astro.props;
---

<div class={`space-y-2 ps-4 ${className}`}>
    <p>
        Soy <span class="text-tertiary-500 font-bold">Irving Ibarra</span> desarrollador
        <span class="text-primary-800 font-bold"> fullstack </span> apasionado por
        convertir ideas en productos <span class="text-amber-600 font-bold">
            útiles, bonitos y fáciles de usar
        </span>. Me especializo en diseñar soluciones creativas que transforman
        procesos repetitivos en <span class="text-primary-800 font-bold">
            experiencias simples y escalables
        </span>.
    </p>
    <p>
        En la carrera mi <span class="text-tertiary-500 font-bold">
            perseverancia
        </span> me llevó a participar en <span
            class="text-primary-800 font-bold">hackatones</span
        > destacando por mis <span class="text-amber-600 font-bold">
            ideas y claridad
        </span> al exponer problemas. Trabajando <span
            class="text-primary-800 font-bold"
        >
            de forma autónoma
        </span> como <span class="text-primary-800 font-bold">
            colaborando en equipo
        </span>, sacando lo mejor de cada persona.
    </p>
    <p>
        Busco proyectos donde pueda <span class="text-primary-800 font-bold">
            seguir aprendiendo
        </span> y ayudar a empresas de tecnología o negocios en proceso de digitalización
        a dar un <span class="text-tertiary-500 font-bold">
            salto de calidad
        </span>.
    </p>
</div>
