---
const { class: className = "" } = Astro.props;
---

<ul class={`space-y-2 ps-4 ${className}`}>
    <li>
        <span class="text-tertiary-500 font-bold">Perseverante y proactivo</span
        > soy capaz de aprender nuevas tecnologías rápidamente y buscar soluciones
        creativas ante cualquier reto.
    </li>
    <li>
        Destaco por mi capacidad de <span class="text-primary-800 font-bold"
            >organizar proyectos</span
        >, priorizando tareas de forma inteligente y manteniendo la calma bajo
        presión.
    </li>
    <li>
        Me caracteriza mi <span class="text-amber-600 font-bold"
            >comunicación clara</span
        > y mi enfoque en la mejora continua, siempre buscando crear productos fáciles
        de usar y de calidad.
    </li>
    <li>
        Combino <span class="text-primary-800 font-bold">trabajo autónomo</span> efectivo
        con una buena <span class="text-tertiary-500 font-bold"
            >capacidad de colaboración</span
        >, organizando tareas según las fortalezas de cada persona.
    </li>
</ul>
